.div{
  background:#494D5f;
}


label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  color: #E5EAF5;
   
} 

.input{
  width: 100%;
  padding-top: 2px 0px 2px 0px;
  margin: 0px 0px 15px 0px;
  background: transparent;
  border-bottom: 1px solid #e5e5e5;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #e5e5e5;
  outline: none;
}
.input-email{
  width: 100%;
  padding-top: 2px 0px 2px 0px;
  margin: 0px;
  background: transparent;
  border-bottom: 1px solid #e5e5e5;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #e5e5e5;
  outline: none;
}

.active-link {
  border: 1px solid rgb(21, 10, 42);
}

.img{
  height: 550px ;
  /* width: auto ; */
}
.car{
  position: absolute;
  flex: left;
  top: 4px;
  left:55px;
  width: 550px;
  border: 1px solid rgb(98, 68, 68); 
}
.tex{
  color: black;
}

footer{
  background-color: #eee;
  height: 120px;
  width: 100%;
}
.label-box{
  width:25%;
}

.b{
  position: absolute;
  top: 30px;
  left: 100px;
}
.text{
  position: absolute;
  top: 135px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-style:normal;
  color:#030a27;
  text-align: center;
}

.social-media{
  margin: 20px 0;
  padding: 5px;
}
 
.social-media a{
  color: #206b80;
  margin: 40px 30px 0px 30px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
 
.social-media a:hover{
  color: #fc5c65;
}
.right-col{
  position:absolute;
  left: 900px;
  top: 720px;
}

.right-col a{
  color: #206b80;
  text-decoration: none;
  transition: .3s linear;
}
 
.right-col a:hover{
  color: #fc5c65;
}
 